header {
  display: flex;
  align-items: normal;
  background-image: url("moneytrees.jpg");
  background-position: center;
  background-size: cover;
  padding: 200px;
  margin: 0px;
  position: relative;
}

.title {
  position: absolute;
  top: 0px;
  left: 16px;
  padding: 20px;
  font-size: 50px;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0px;
  /* background-color: #E2F2A7; */
  /* background-color:#E8FFBD; */
  background-color: #f0f2b3;
}

#budget-form {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  width: 100%;
}

#expense-form {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
}

input[type="text"] {
  width: auto;
  padding: 10px;
  margin: 10px;
  /* background-color: #fff; */
  /* border-color: #fff; */
  border-radius: 5px;
  /* display: inline-block;
  box-sizing: border-box; */
}

button {
  width: 100%;
  padding: 10px;
  /* background-color: #3F633D; */
  /* background-color: #5F9C52; */
  font-size: 16px;
  font-weight: bold;
  background-color: #8fc96b;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 20px 0px 0px 0px;
  justify-content: center;
  align-items: center;
}

#type {
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 20px 0px 0px 0px;
  justify-content: center;
  align-items: center;
}

.total-expenses {
  padding: 10px;
}

.food-expense {
  font-size: 20px;
  position: absolute;
  padding: 10px;
  margin: 5px;
  transform: translate(5%, -50%);
}

#circle1 {
  height: 10px;
  width: 10px;
  block-size: 10px;
  padding: 3px;
  margin: 10px;
  background-color: red;
  border-radius: 50%;
  align-content: baseline-position;
  vertical-align: text-top;
}

.bills-expense {
  font-size: 20px;
  position: absolute;
  padding: 10px;
  margin: 5px;
  transform: translate(5%, -50%);
}

#circle2 {
  height: 10px;
  width: 10px;
  block-size: 10px;
  padding: 3px;
  margin: 10px;
  background-color: blue;
  border-radius: 50%;
  align-content: baseline-position;
  vertical-align: text-top;
}
.entertainment-expense {
  font-size: 20px;
  position: absolute;
  padding: 10px;
  margin: 5px;
  transform: translate(4%, -50%);
}

#circle3 {
  height: 10px;
  width: 10px;
  block-size: 10px;
  padding: 3px;
  margin: 10px;
  background-color: purple;
  border-radius: 50%;
  align-content: baseline-position;
  vertical-align: text-top;
}

.clothing-expense {
  font-size: 20px;
  position: absolute;
  padding: 10px;
  margin: 5px;
  transform: translate(5%, -50%);
}

#circle4 {
  height: 10px;
  width: 10px;
  block-size: 10px;
  padding: 3px;
  margin: 10px;
  background-color: yellow;
  border-radius: 50%;
  align-content: baseline-position;
  vertical-align: text-top;
}

.misc-expense {
  font-size: 20px;
  position: absolute;
  padding: 10px;
  margin: 5px;
  transform: translate(5%, -50%);
}

#circle5 {
  height: 10px;
  width: 10px;
  block-size: 10px;
  padding: 3px;
  margin: 10px;
  background-color: green;
  border-radius: 50%;
  align-content: baseline-position;
  vertical-align: text-top;
}
.fas {
  margin: 10px;
  color: #0a7b83;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#food-receipt {
  display: none;
}
.show {
  display: block !important;
}

/* desktop view */
@media only screen and (min-width: 768px) {
  header {
    display: flex;
    align-items: normal;
    background-image: url("moneytrees.jpg");
    background-position: center;
    background-size: cover;
    padding: 300px;
    position: relative;
  }

  .budget-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    margin-left: 10px;
  }
  .expense-container {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
  }

  .total-expenses {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    padding: 10px;
  }

  #budget-form {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    width: auto;
  }

  #expense-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    width: 45%;
  }

  input[name="budget"] {
    width: auto;
    padding: 10px;
    margin: 0px 10px 0px 10px;
    border-radius: 5px;
  }

  button[id="submit"] {
    width: 125px;
    padding: 10px;
    margin: 0px 10px 0px 10px;
    border-radius: 5px;
  }

  button[id="add"] {
    margin: 10px 0px 0px 0px;
  }

  button {
    width: auto;
    font-weight: bold;
    background-color: #8fc96b;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 0px 0px 0px 0px;
    justify-content: center;
    align-items: center;
  }
}
